 /* Estilo para a tabela */
 table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #04AA6D;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddddff;
  }
  
  /* Estilo para o grupo de botões de papel */
  .role-buttons {
    display: flex;
    justify-content: space-between;
  }
  
